/*=======RESET=======*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/*=======END RESET=======*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --accent-text-color: #2196f3;
  --bgc-hero-color: #2f303a;
  --bgc-team-color: #f5f4fa;
  --icon-color: #afb1b8;
}
body {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  background-color: var(--white-text-color);
}

/* =======COMPONENTS======= */
.accent {
  color: var(--accent-text-color);
}
.about-title,
.team-title,
.description-title,
.regular-clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);

  text-align: center;

  margin-bottom: 50px;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Social links (TEAM and FOOTER) */
.social-list {
  display: flex;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-item {
  width: 44px;
  height: 44px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--icon-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-text-color);
  fill: var(--white-text-color);
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  letter-spacing: 0.06em;

  padding: 10px 30px;

  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  cursor: pointer;
}
/* =======END COMPONENTS======= */

/* =======BACKDROP======= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 521px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 0;
  right: 0px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.modal-icon {
  fill: var(--icon-color);

  border: 1px solid var(--icon-color);
  border-radius: 50%;
}
/* =======END BACKDROP======= */

/* =======LOGO======= */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--black-text-color);

  margin-right: 93px;
  padding: 25px 0px;
}
/* =======END LOGO======= */

/* =======HEADER======= */
.flex-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  position: relative;

  display: inline-flex;
  align-items: center;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current::after,
.nav-link.scale::after {
  content: '';
  display: block;

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;

  background: var(--accent-text-color);
  border-radius: 2px;
}

.nav-link.scale::after {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
}

.header-nav .nav-link.scale:hover::after,
.header-nav .nav-link.scale:focus::after {
  transform: scaleX(1);
}

.nav-link.contact {
  color: var(--primary-text-color);
}
.nav-link.current {
  color: var(--accent-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
}
.icon-mail,
.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}
.site-contacts {
  display: flex;
  margin-left: auto;
}
.nav-contacns {
  display: inline-flex;
  align-items: center;
}
.nav-contacns:not(:last-child) {
  margin-right: 50px;
}
/* =======END HEADER======= */

/* =======HERO======= */
.hero {
  padding: 200px 0;
  text-align: center;
  background-color: var(--bgc-hero-color);
}
.hero.main-backgoung-img {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/hero-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-text-color);
  letter-spacing: 0.06em;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-text {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
/* =======END HERO======= */

/* =======DESCRIPTION======= */
/*"description-text" from bady */
.description-subtitle {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;

  margin-bottom: 10px;

  text-transform: uppercase;
}
.description-list {
  display: flex;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bgc-team-color);

  border-radius: 4px;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
}
.description-item:not(:last-child) {
  margin-right: 30px;
}
.description-item {
  max-width: 270px;
  height: 251px;
}
/* =======END DESCRIPTION======= */

/* =======WHAT WE DO======= */
.about {
  padding-bottom: 94px;
}
.about-list {
  display: flex;
  align-items: center;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-item {
  position: relative;
}

.label {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  text-align: center;
}

.label-thumb {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}
/* =======END WHAT WE DO======= */

/* =======TEAM======= */
.team {
  background-color: var(--bgc-team-color);
}
.team-list {
  display: flex;
  align-items: center;
  margin: -15px;
}
.team-item {
  margin: 15px;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background: #ffffff;
}
.team-subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);

  text-align: center;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  margin-bottom: 16px;
}
.team-cards-description {
  padding: 30px 32px 30px 32px;
}
/* =======END TEAM======= */

/* =======REGULAR CLIENTS======= */
.regular-clients-list {
  display: flex;
  text-align: center;
}
.regular-clients-item {
  display: flex;
  width: calc((100% - 5 * 30px) / 6);
  height: 90px;
}
.regular-clients-item:not(:last-child) {
  margin-right: 30px;
}
.regular-clients-link:hover,
.regular-clients-link:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
  outline: none;
}
.regular-clients-link {
  width: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-icon {
  height: 100%;
  vertical-align: middle;
}
/* =======END REGULAR CLIENTS======= */

/* =======FOOTER======= */
.footer {
  background-color: var(--bgc-hero-color);

  padding: 60px 0;
}
.logo.withe {
  padding: 0;
  margin-bottom: 20px;
}
.footer-link,
.footer-address {
  font-style: normal;
  color: var(--footer-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address {
  margin-bottom: 9px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-text-color);
}
.footer .social-item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.join-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.footer-social-icon {
  fill: var(--white-text-color);
}
.first-column {
  margin-right: 70px;
}
.withe {
  color: var(--white-text-color);
}
/* =======END FOOTER======= */

/* =======FOOTER-FORM======= */

.form-container {
  display: flex;
  flex-direction: column;

  margin-left: auto;
}
.footer-form-input {
  min-width: 358px;
  height: 50px;
  margin-right: 8px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  padding-left: 16px;
}

.footer-send-btn {
  position: relative;
  padding: 10px 62px 10px 29px;
}
.btn-icon {
  position: absolute;
  top: 50%;
  right: 28px;

  margin-left: 10px;

  transform: translateY(-50%);

  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #fff;
}
/* =======END FOOTER-FORM======= */

/* =======PORTFOLIO======= */
.border-portfolio {
  outline: 1px solid #ececec;
}

.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
}
.portfolio-btn {
  padding: 6px 22px;

  border: none;
  background: #f5f4fa;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}
.portfolio-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--title-text-color);

  margin-bottom: 4px;
}
.portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.card-description {
  padding: 20px 20px;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.cards-item {
  margin: 15px;

  outline: 1px solid #eeeeee;
}
.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;

  font-size: 18px;
  line-height: 1.55;

  padding: 63px 24px;
  width: 100%;
  height: 100%;

  background-color: var(--accent-text-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover .overlay,
.cards-link:focus .overlay {
  transform: translateY(0);
}

/* =======END PORTFOLIO======= */
